hr {
  margin-bottom: 40px;
}

.main-page-header {
  padding: 0 142px;
  margin-bottom: 0;
}

.work-element-hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
  padding: 0 142px;
  margin-bottom: 0;
  padding: 0 40px;
}

.logo {
  padding: 10px 0;
}

.open-menu {
  padding: 10px 0;
}

.headline {
  padding: 130px 142px 114px;
}

.name {
  font-size: 5.62rem;
  text-align: center;
  line-height: 105px
}

.occupation {
  font-size: 2rem;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  line-height: 47px;
}

.about-text {
  margin: 0;
  padding: 0 10px 45px;
  text-align: justify; 
  text-align-last: center; 
  line-height: 32px;
  left: 0.5px;
  width: 100%;
}

.about-text-links {
  padding: 0 354px;
}

.about-links {
  display: flex;
  flex-flow: row wrap;
  gap: 80px;
  justify-content: flex-start;
  padding-top: 50px;
}

.work-element {
  display: none;
}

.social-media {
  display: none;
}

.social-media-hidden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin-top: 0;
}

.recent-works {
  display: grid;
  padding: 24px 142px 114px;
  gap: 88px;
  text-align: left;
  justify-content: center;
}

.recent-works-header {
  max-width: 100%;
  font-weight: 700;
  font-size: 4rem;
  line-height: 114px;
  margin-bottom: 0;
  padding-bottom: 38px;
  border-bottom: 1px solid #646369;
  margin-top: 65px;
}

.work-card {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 20px;
}

.left-block {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 20px;
}

.left-side {
  order: 1;
  width: 100%;
}

.image-placeholder {
  width: 100%;
  height: auto;
}

.work-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
}

.work-header {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.work-p {
  margin-top: 0;
  margin-bottom: 0;
}

.tags-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 0;
  margin: 0;
}

.tag {
  flex: content;
  padding: 0 18px;
  border-right: 1px solid #646369;
}

.ruby-tag {
  border-right: none;
}

.work-card-button:enabled {
  margin-top: 0;
}