body {
  background: #191765;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-image: url("/multimedia/circle-1-header.svg"), url("/multimedia/circle-2-header.svg"),
   url("/multimedia/circle-4.svg"), url("/multimedia/circle-5.svg"), url("/multimedia/circle-6-blur.svg"), 
   url("/multimedia/circle-7-blur.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 226px 226px, 184px 184px, 380px 940px, 220px 1100px, 600px 280px,
   220px 1000px;
  background-position: top 40px left -140px, right -120px top 512px, left -140px top 1170px,
   right -70px top 1820px, left -200px top 3080px, right -10px top 3490px;
}

h1,
h2 {
  margin: 0;
}

hr {
  width: 100%;
  border: 1px solid #646369;
  background-color: #646369;
  margin-bottom: 50px;
  margin-top: 0;
}

.main-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
}

.header-hidden {
  display: none;
}


.logo {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 0;
}

.open-menu {
  display: flex;
  background: none;
  border: none;
  padding: 10px 30px;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 80px 24px;
  gap: 40px;
}

.headline-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.name {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
}

.occupation {
  color: #ffff;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.about-text-links {
  display: flex;
  flex-direction: column;
}

.about-text {
  font-size: 20px;
  text-align: center;
  color: #c8c8d4;
  width: 327px;
  height: auto;
  align-self: center;
  margin: 0;
  padding-bottom: 35px;
}

.about-links {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 25px 18px;
  border-top: 1px solid #646369;
  border-bottom: 1px solid #646369;
  gap: 0;
}

.about-l-section {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  flex-direction: column;
  width: 50%;
}

.about-l-header {
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  color: #7d73fc;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #f5f5ff;
}

.social-media-hidden {
  display: none;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin-top: 15px;
}

.work-element-hidden {
  display: none;
}

.work-element {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #a2a3ae;
  font-weight: 500;
}

.work-text {
  display: flex;
  gap: 12px;
}

button,
.social-icon {
  display: flex;
  background: none;
  border: none;
}

.recent-works {
  display: grid;
  padding: 24px 24px 0;
  gap: 45px;
  text-align: left;
  justify-content: center;
}
.recent-works-header-hidden {
  color: #9490ff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  padding-right: 100px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #646369;
}
.recent-works-header {
  display: none;
}

.work-card {
  display: flex;
  flex-direction: column;
}

.image-placeholder {
  height: 236px;
  width: auto;
  background: #f9f9f9;
}

.work-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.work-header {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #ffff;
  margin-bottom: 20px;
  margin-top: 55px;
}

.work-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #dcdce8;
  margin: 0;
}

.tags-section {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  align-items: center;
}

.tag {
  flex: content;
  padding: 0 20px;
  border-right: 1px solid #646369;
}

.ruby-tag {
  border-right: none;
}

.work-card-button:enabled {
  display: flex;
  font-family: inherit;
  color: #edecff;
  background-color: #7d73fc;
  border-radius: 4px;
  width: 90px;
  height: 48px;
  padding: 12px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  margin-top: 0;
}

.work-card-button:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.work-card-button:focus {
  background: #5e42d7;
}

.work-card-button:disabled {
  background: #2a2b33;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px 25px;
  border-bottom: 1px solid #646369;
  gap: 40px;
}

.contact-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.contact-header-hidden {
  display: none;
}

.contact-header {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #9390ff;
}

.contact-p {
  color: #f5f5ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.contact-form {
  width: 100%;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  gap: 24px;
  justify-content: center;
}

.small-text,
.msg {
  width: 95%;
  height: 48px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #191765;
  padding-left: 15px;
}

.small-text:hover,
.msg:hover {
  border: 2px solid #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.msg {
  height: 148px;
  padding-top: 15px;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.contact-submit:enabled {
  display: flex;
  font-family: inherit;
  color: #edecff;
  background-color: #7d73fc;
  border-radius: 4px;
  width: 100px;
  height: 48px;
  padding: 12px 40px 12px 35px;
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  justify-self: center;
}

.contact-submit:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.contact-submit:focus {
  background: #5e42d7;
}

.contact-submit:disabled {
  background: #2a2b33;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
  color: #ebebff;
  font-size: 20px;
  font-weight: 500;
}
